<html lang="es">
    <header>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>Mercado Liebre</title>
        <link href="\css\home.css" rel="stylesheet"/>
        <link href="\css\register.css" rel="stylesheet"/>
        <link 
            rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
            integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
            crossorigin="anonymous"
            referrerpolicy="no-referrer"
        />
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    </header>
    <main>
        <nav>
            <div>
                <img src="\images\logo-mercado-liebre.svg"/>
                <span class="searchnav">
                    <input type="search" placeholder="buscar productos..."/>
                    <button class='searchBtn' name="searchProduct">
                        <i class="fa-solid fa-magnifying-glass"></i>
                    </button>
                </span>
                <p class="compraCuotas">
                    <i class="fa-solid fa-hand-holding-dollar"></i>
                    Comprá en cuotas y sin tarjeta de crédito
                </p>
            </div>
            <span>
                <ul class="site">
                    <li><a href="">Ofertas</a></li>
                    <li><a href="">Tiendas Oficiales</a></li>
                    <li><a href="">Vender</a></li>
                    <li><a href="">Ayuda</a></li>
                </ul>
                <ul class="loginNavbar">
                    <li><a href="/register">Creá tu cuenta</a><i class="fa-regular fa-id-card"></i></li>
                    <li><a href="/login">Ingresá</a><i class="fa-solid fa-right-to-bracket"></i></li>
                    <li><a href="">Mis Compras</a><i class="fa-solid fa-basket-shopping"></i></li>
                </ul>
            </span>
            <div class="burger-menu">
                <i class="fa-solid fa-bars"></i>
            </div>
        </nav>
        <form class="registerForm" action="/register" method="POST">
            <label for="nameAndLastName">Nombre y apellido</label>
            <input type="text" id="nameAndLastName" name="nameAndLastName" placeholder="Nombre y Apellido"/>
            <label for="username">Usuario</label>
            <input type="text" id="username" name="username" placeholder="Nombre de usuario"/>
            <label for="email">E-mail</label>
            <input type="email" id="email" name="email" placeholder="E-mail"/>
            <label for="birthday">Fecha de nacimiendo</label>
            <input type="date" id="birthday" name="birthday"/>
            <label for="street">Domicilio</label>
            <input type="text" id="street" name="street" placeholder="domicilio"/>
            <label for="profile">Perfil del usuario</label>
            <span id="profile">
                <label for="comprador">Comprador</label>
                <input type="radio" id="comprador" name="profile" value="comprador"/>
                <label for="vendedor">Vendedor</label>
                <input type="radio" id="vendedor" name="profile" value="vendedor"/>
            </span>
            <label for="interests">Intereses</label>
            <span class="interests">
                <p><input type="checkbox" name="interests" value="electro"/>Electro</p>
                <p><input type="checkbox" name="interests" value="moda"/>Moda</p>
                <p><input type="checkbox" name="interests" value="hogar">Hogar</input></p>
                <p><input type="checkbox" name="interests" value="jugeteria">Jugueteria</input></p>
                <p><input type="checkbox" name="interests" value="vidaSana">Vida sana</input></p>
            </span>
            <button type="submit">Enviar</button>
        </form>
    </main>
    <footer>
        <div class="footerCards">
            <section>
                <i id='1' class="fa-solid fa-credit-card"></i>
                <h4>Pagá con tarjeta o en efectivo</h4>
                Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                puntos de pago. ¡Y siempre es seguro!
            </section>
            <section>
                <i id='2' class="fa-solid fa-gift"></i>
                <h4>Envío gratis desde $ 2.500</h4>
                Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                productos. Es un beneficio de Mercado Puntos.
            </section>
            <section>
                <i id='3' class="fa-solid fa-user-shield"></i>
                <h4>Seguridad, de principio a fin</h4>
                ¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                porque estás siempre protegid@.
            </section>
        </div>
        <section>
            Copyright © 1999-2020 MercadoLiebre S.R.L.
        </section>
    </footer>
</html>